html, body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.centrar-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntero{
    cursor:pointer;
}

.paises{
    max-height: 550px;
    overflow: auto;
}